.logotipas {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  margin-left: 200px;
  margin-top: 50px;
  margin-bottom: 35px;
  float: left;

}

.logotipas img {
  height: auto;
  width: 100%;
}

.bandaumeniu {
  display: inline-block;
  float: center;
  width: 100%;
  margin-top: 43px;
  align-items: center;

}

#nav { text-align:center; }
#nav ul li.nav-list-item { float: none;}
#nav ul { text-align:center; }
#nav ul li {
  text-align:center;
  display:inline;
}
#nav li a { display: inline; }

.nav-list
{
background-color: #CCCCCC;
border-top: 1px solid #000000;
border-bottom: 1px solid #000000;
}

.nav-list-item
{
background-color: #EFEFEF;
border-right: 1px solid #000000;
}

.nav-list-item a
{
font-family: Arial, sans-serif;
font-size: medium;
font-weight: bold;
letter-spacing: 1px;
}

#content {
  margin-top: 30px;
}
