.logotipas {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  margin-left: 200px;
  margin-top: 50px;
  margin-bottom: 35px;
  float: left;

}

.logotipas img {
  height: auto;
  width: 100%;
}

.bandaumeniu {
  display: inline-block;
  float: center;
  width: 100%;
  margin-top: 43px;
  align-items: center;

}

.maniskis {
  
}
