/* #Tablet (Landscape)
================================================== */

@media only screen and (max-width: 1080px) {

/* Disable CSS animations */
.animated {
    -webkit-animation-duration: 0;
    animation-duration: 0;
    -webkit-animation-delay: 0;
    animation-delay: 0;
}

/* Disable Parallax */
.parallax-bg1, .parallax-bg2, .parallax-bg3 {
    background-position: 50% 0 !important;
}

}

/* #Tablet (Portrait)
================================================== */

@media only screen and (max-width: 959px) {


}

/* #Mobile (Landscape)
================================================== */

@media only screen and (max-width: 767px) {

.carousel-control.right span, .carousel-control.icon-next span {
    right: 20%;
}
.carousel-control.left span, .carousel-control.icon-prev span {
    left: 15%;
}

}

/*  #Mobile (Portrait)
================================================== */

@media only screen and (max-width: 440px) {


}

/*  #iPhone X
================================================== */

@media only screen and (max-width: 1125px) , screen and (max-heigth: 2436px) {

}

/*  #iPhone 8 plus, 7 plus, 6s plus, 6 plus
================================================== */

@media only screen and (max-width: 1242px) , screen and (max-heigth: 2208px) {

}

/*  #iPhone 8, 7, 6s, 6 plus
================================================== */

@media only screen and (max-width: 1080px) , screen and (max-heigth: 1920px) {

}

/*  #iPhone 8, 7, 6s, 6
================================================== */

@media only screen and (max-width: 750px) , screen and (max-heigth: 1334px) {

}

/*  # iPhone 5, 5s, 5c, SE
================================================== */

@media only screen and (max-width: 640px) , screen and (max-heigth: 1136px) {

}

/*  # iPhone 4, 4s
================================================== */

@media only screen and (max-width: 640px) , screen and (max-heigth: 960px) {

}

/*  # iPhone 2G, 3G, 3GS
================================================== */

@media only screen and (max-width: 320px) , screen and (max-heigth: 480px) {

}

@media only screen and (max-width: 768px) {
  /* For general iPad layouts */
}

@media only screen and (min-width: 481px) and (max-width: 1024px) and (orientation:portrait) {
  /* For portrait layouts only */
}

@media only screen and (min-width: 481px) and (max-width: 1024px) and (orientation:landscape) {
  /* For landscape layouts only */
}
