.gold-txt { color: #a77a00; }
.conf-txt { color: #454132; }

.linegradient {
  background: white;
  -webkit-box-shadow: 0 0 70px -1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 70px -1px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 0 70px -1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 70px -1px rgba(0, 0, 0, 0.1);
  margin-top: 0px;
  top: 0;
}

.newsfixed {
  max-width: 100%;
  max-height: auto;
}

.grid-image {
  height: 300px;
}


.containermine {
  padding-left: 30px;
  padding-right: 30px;

}

.col-sm-4-mine {
padding-left: 0px;
padding-right: 6px;
}

body {padding-top: 50px; }

@media screen and (max-width: 992px) {
body {padding-top: 60px; }
}

h2 {
  padding-top: 80px;
}


#smallerh2 {
  padding-top: 20px;
}

@media screen and (max-width: 992px) {
  h2 {
    padding-top: 20px;
  }
}


#bs-example-navbar-collapse-1 > ul > li > select {
  border: none;
  margin-left: 80px;
  margin-top: 23px;
}

#bs-example-navbar-collapse-1 > ul > li > select {
    text-align: center;
    display: inline-block;
    vertical-align: top;
    margin-left: 31px;
    margin-top: 48px;

}

@media screen and (max-width: 992px) {
  #bs-example-navbar-collapse-1 > ul > li > select {
    margin-left: 22px;
    margin-top: 16px;
  }
}


@media only screen and (min-width: 768px) and (max-width: 991px) {
  .fluid-container {
	   position:relative;
	    padding: 0 0 0 0;
	     margin:0;
       min-height: 30px;
  }
 }

 .navbar-brand {
   float: left;
   display: block;
   padding-left: 28px;
   padding-bottom: 0px;
   position: relative;
 }

 .navbar-brand  {
     display: inline-block;
     vertical-align: top;
     margin-left: 210px;
     margin-right: 30px;
     margin-top: 30px;
   }


 @media screen and (max-width: 992px) {
  .navbar-brand {
     margin-right: 0px;
     margin-left: 40px;
     padding-left: 0px !important;
     padding-right: 0px !important;
     padding-bottom: 0px;
     margin-bottom: 0px;
     margin-top: 0px;
     height: auto;
   }
 }


#bs-example-navbar-collapse-1 > ul > li > a {
    text-align: center;
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
    margin-top: 30px;
    max-height: 105px;
    line-height: 27px;
}
@media screen and (max-width: 992px) {
  #bs-example-navbar-collapse-1 > ul > li > a {
  margin-left: 10px;
  margin-top: 5px;
  max-height: 105px;
  line-height: 10px;

}
}



#fh5co-header {
  position: absolute;
  z-index: 99;
  width: 100%;
  opacity: 1;
  top: 0;
  min-height: 10px;
}


#fh5co-header .navbar-header {
  padding-bottom: 0;
  margin-bottom: 0;

}


#fh5co-header .navbar-header li a {
  position: relative;
  display: block;
  padding-bottom: 2px;
}

#fh5co-header #navbar li a {
  position: relative;
  display: block;
  padding-bottom: 2px;
}


@media screen and (max-width: 992px) {
#fh5co-header button {
  margin-bottom: 17px;
}
}

.navbar-fixed-top {
  position: fixed !important;
  background: white;
  -webkit-box-shadow: 0 10 6px -8px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 10px 6px -8px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 0 10px -8px rgba(0, 0, 0, 0.1);
  box-shadow: 0 10px 6px -8px rgba(0, 0, 0, 0.1);
  margin-top: 0px;
  top: 0;
}


@media screen and (max-width: 992px) {
  .navbar-header {
    height: 60px;
    }



.navbar-fixed-top > #navbar li a {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}


  #fh5co-header.navbar-fixed-top #navbar li a {
    font-size: 0px;
  }
}


#fh5co-header .navbar-default {
  border: transparent;
  background: #fff;
  margin: 0;
  padding-left: 50px;
  padding-right: 50px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
}
@media screen and (max-width: 768px) {
  #fh5co-header .navbar-default {
    margin-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
  }
}

@media screen and (max-width: 768px) {
  .fh5co-nav-toggle {
    display: block;
  }
}

.panel-mine {
  border: 0px solid transparent;
  -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
}


.panel-mine > .panel-heading {
  border-color: none;
  background-color: white;
}
.panel-mine > .panel-body {
  border-color: none;
  background-color: white;

}


.panel-mine > .panel-body > h3 {
  color: rgb(69, 65, 50);
}



.panel-mine .panel-footer {
  background: white;
  border-color: none;
  color: white;
  background-color: white;
}
